{% extends "template.html" %}
{% block contenido %}
<body>
  <div class="container ">
    <div class="card  bg-info" >
      <a href="{{url_for('brazo')}}"><img src="{{url_for('static', filename='images/brazo.jpeg')}}">
      <h4> Rutina de brazo </h4>
      <p > Haciendo click entrara a la rutina </p></a>
      
    </div>
    <div class="card bg-info" >
      <a href="{{url_for('piernas')}}"><img src="{{url_for('static', filename='images/pierna.jpg')}}">
      <h4 class=" text-center " > Rutina de piernas </h4>
      <p class="text-center " > Haciendo click entrara a la rutina </p></a>
      
    </div> 
    <div class="card bg-info " >
      <a href="{{url_for('espalda')}}"><img src="{{url_for('static', filename='images/espalda.jpeg')}}">
      <h4> Rutina de espalda </h4>
      <p > Haciendo click entrara a la rutina </p></a>
      
    </div>
    <div class="card bg-info " >
      <a href="{{url_for('pecho')}}"><img src="{{url_for('static', filename='images/hombro.jpeg')}}">
      <h4> Rutina de pecho </h4>
      <p > Haciendo click entrara a la rutina </p></a>
      
    </div>
    <div class="card bg-info " >
      <a href="{{url_for('aerobico')}}"><img src="{{url_for('static', filename='images/running.jpg')}}">
      <h4 > Rutina de aerobico </h4>
      <p > Haciendo click entrara a la rutina </p></a>
      
    </div>
  </div> 

</body>
{% endblock %}
