<body>
    <h1>CONDICIONES DEL SERVICIO</h1>
    <p>No te cobramos por el uso del sitio web ni del resto de los productos y servicios que se incluyan o se agreguen a futuro.
        En su lugar, las empresas y organizaciones nos pagan por mostrarte publicidad sobre sus productos o servicios. 
        Al usar nuestros Productos, aceptas que te mostremos anuncios que consideremos relevantes para ti y tus intereses.
        Usamos tus datos personales a la hora de determinar qué anuncios te mostramos.
        No vendemos tus datos personales a los anunciantes ni compartimos ningún tipo de información con ellos que te identifique
        directamente (como tu nombre, dirección de correo electrónico u otros datos de contacto), a menos que nos des permiso 
        específico. En su lugar, los anunciantes nos proporcionan información, como el tipo de audiencia a la que quieren 
        llegar con sus anuncios, y nosotros los mostramos a las personas que puedan estar interesadas en ellos. Asimismo, 
        ofrecemos a los anunciantes informes sobre el rendimiento de su publicidad a fin de que sepan de qué manera interactúan
        las personas con su contenido. Consulta la Sección 2 a continuación para obtener más información al respecto.</p>
</body>

